
.image1 { animation:countdownAnim 25s linear infinite forwards; }
.image2 { animation:countdownAnim 11s linear infinite forwards; }
.image3 { animation:countdownAnim 17s linear infinite forwards; }
.image4 { animation:countdownAnim 9s linear infinite forwards; }
.image5 { animation:countdownAnim 3s linear infinite forwards; }
.image6 { animation:countdownAnim 7s linear infinite forwards; }

@keyframes countdownAnim {
  50% {
    opacity: 0;
    width: 53vh;
    top: 26.95vh;
    margin-left: -24.25vh;
    filter: brightness(80%);
  }
}
