
.image1 { animation:countdownSpin 2s linear infinite forwards; }
.image2 { animation:countdownSpin 11s linear infinite forwards; }
.image3 { animation:countdownSpin 17s linear infinite forwards; }
.image4 { animation:countdownSpin 9s linear infinite forwards; }
.image5 { animation:countdownSpin 3s linear infinite forwards; }
.image6 { animation:countdownSpin 7s linear infinite forwards; }

.image1Final { animation:finalSpin 2s linear infinite forwards; }
.image2Final { animation:finalSpin 11s linear infinite forwards; }
.image3Final { animation:finalSpin 17s linear infinite forwards; }
.image4Final { animation:finalSpin 9s linear infinite forwards; }
.image5Final { animation:finalSpin 3s linear infinite forwards; }
.image6Final { animation:finalSpin 7s linear infinite forwards; }

.theEndOrb {
  transition: opacity 10s, transform 10s, width 10s, height 10s, margin 10s, z-index 2s;
  transition-timing-function: ease-in;
  opacity: 1;
  transform: rotate(-360deg);
  width: 5000px;
  height: 5000px;
  margin: -2600px 0 0 -2600px;
  z-index: 90;
}

@keyframes countdownSpin {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes finalSpin {
  100% { transform: rotate(360deg); }
}
