.component {
  width: 45vh;
  position: fixed;
  top: 30.75vh;
  left: 50%;
  margin-left: -20.5vh;
  padding-top: 16px;
  padding-bottom: 16px;
  aspect-ratio: 1/1;
  opacity: 1;
  filter: brightness(100%);
}
.centered-back {
  position: fixed;
  height: 90vh;
  left: 50%;
  margin-left: -26.75vh;
  padding-top: 16px;
  padding-bottom: 16px;
}
#will-wight-tag {
  width: 50vh;
}
#countdown-container {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  background: #4b5c76;
  bottom: 3vh;
  margin-bottom: 8px;
  margin: -10px;
  width: 100%;
  z-index: 100;
  position: fixed;
}
#countdown-text {
  font-size: 3.0vh;
}
